.course-page .page-con {
    background: url("../img/course.png") no-repeat #2988cc;
    background-size: 100vw auto;
}
.course-title {
    padding-top: .5rem;
    height: .76rem;
    text-align: center;
}
.course-title img {
    height: 100%;
}
.course-table {
    margin: .62rem auto 0;
    width: 7.1rem;
}
.course-table th {
    height: .5rem;
    background: rgba(206, 115, 175, .5);
    font-size: .24rem;
    color: #fff;
}
.course-table td {
    height: .57rem;
    font-size: .26rem;
    background: #fff;
    text-align: center;
    border: 1px solid #ce73af;
    color: #3a3a3a;
}
.course-table td:nth-of-type(1) {
    width: 1.35rem;
}
.course-table td:nth-of-type(1) img {
    width: .74rem;
}
.course-table tr:nth-of-type(1) td:nth-of-type(2) {
    width: 1.92rem;
}
.course-more {
    text-align: center;
    height: 1.13rem;
    font-size: .26rem;
}
.course-more span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 1.13rem;
    color: #fff;
}
.course-more a {
    display: inline-block;
    width: 2.9rem;
    line-height: .5rem;
    border-radius: .25rem;
    color: #2f88cd;
    margin-left: .25rem;
    background: #fff;
}