.lecturer-item {
    height: 5.46rem;
    background: url('../img/lecturer-bg.png') no-repeat;
    background-size: cover;
}
.lecturer-item-title {
    padding-top: .4rem;
    height: .76rem;
    text-align: center;
}
.lecturer-item-title img {
    height: .76rem;
}
.lecturer-tab .picList {
    padding-top: .59rem;
    overflow: hidden;
}
.lecturer-list {
    width: 7.5rem;
    overflow: hidden;
}
.lecturer-list li {
    float: left;
    box-sizing: border-box;
    text-align: center;
    width: 2.5rem;
}
.lecturer-thumbnail {
    margin: 0 auto;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #5394cb no-repeat center bottom;
    background-size: contain;
}
.lecturer-name {
    margin: .2rem auto 0;
    width: 1.2rem;
    padding: 0 .1rem;
    font: .26rem/.5rem "宋体";
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
    border-radius: .26rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lecturer-tab .picNav {
    position: static;
    padding-top: .4rem;
    height: .1rem;
    text-align: center;
}

.join-us-title {
    font: .4rem/1rem "宋体";
    text-align: center;
}
.join-con {
    padding: 0 .21rem 1px;
    overflow: hidden;
}

.join-con li {
    float: left;
    width: 3.54rem;
}

.join-box {
    margin: 0 0 -1px -1px;
    padding-top: .85rem;
    position: relative;
    height: 2.63rem;
    border: 1px solid #dce7eb;
    text-align: center;
}
.join-tag {
    position: absolute;
    left: 1.07rem;
    top: .29rem;
    width: 1.4rem;
    box-sizing: border-box;
    font: .24rem/.38rem "宋体";
    border: 1px solid #999;
    border-radius: .2rem;
    color: #999;
}
.join-title {
    font: .4rem/.58rem "宋体";
    color: #e15671;
}
.join-info {
    font: .26rem/.53rem "宋体";
}
.join-con a {
    position: relative;
    display: block;
    background: #fff;
    color: #666;
}
.join-con a:before {
    position: absolute;
    color: rgba(0,0,0,.06);
    font-size: 2rem;
    line-height: 1;
}
.join-con li:nth-of-type(1) a:before {
    left: 0;
    bottom: -.1rem;
}
.join-con li:nth-of-type(2) a:before {
    right: 0;
    top: 0;
}
.join-con li:nth-of-type(3) a:before {
    left: 0;
    width: 100%;
    bottom: -.1rem;
    text-align: center;
}
.join-con .join-box {
    position: relative;;
}
.join-con a:active,
.join-con .a-active{
    background: linear-gradient(135deg,#fa93c1,#705aa4);
    color: #fff;
}
.join-con a:active .join-tag,
.join-con .a-active .join-tag {
    color: #fff;
    border-color: #fff;
}
.join-con a:active .join-title,
.join-con .a-active .join-title {
    color: #fff;
}
.job-description {
    margin: .2rem;
    padding: .3rem .4rem;
    height: 2.04rem;
    background: linear-gradient(32deg,#4d94e2,#4dc4e2);
    box-shadow: 0 0 .1rem rgba(77, 168, 226, .7);
}
.job-photo {
    float: left;
    margin-top: .18rem;
    box-sizing: border-box;
    width: 1.7rem;
    height: 1.7rem;
    border: 4px solid #fff;
    border-radius: .85rem;
    background: #a1d97b url('../img/job-photo.png') center bottom no-repeat;
    background-size: contain;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2)
}
.job-text {
    float: right;
    width: 4.2rem;
    font: .26rem/.4rem "宋体";
    color: #fff;
}
.job-explain {
    color: rgba(255, 255, 255, .5);
}
.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(0, 0, 0, .7);
}
.popup-win {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -3.2rem 0 0 -3.275rem;
    width: 6.55rem;
    height: 8.34rem;
    background: url(../img/popup.png) no-repeat;
    background-size: cover;
    padding: .56rem .2rem 0;
}
.popup-photo {
    box-sizing: border-box;
    position: absolute;
    left: 2.35rem;
    top: -1.1rem;
    width: 1.8rem;
    height: 1.8rem;
    background: #f6a0a4  no-repeat;
    background-size: contain !important;
    border-radius: .9rem;
    border: 4px solid #fff;
}
.close {
    position: absolute;
    right: .2rem;
    top: .2rem;
    width: .4rem;
    height: .4rem;
    background: url("../img/close.png") no-repeat;
    background-size: cover;
}
.popup-title {
    font: .32rem/1.08rem "\5B8B\4F53";
    text-align: center;
    color: #fff0cc;
}
.popup-con {
    margin-top: .1rem;
    padding: 0 .2rem;
    height: 5.5rem;
    font: .26rem/.42rem "\5B8B\4F53";
    color: #fff;
    word-break: break-all;
    overflow-y: hidden;
}
